[2019-09-20 18:52] franjorub opened #39 "renderBody for TabbedHeader not works"
I'm trying to replace the header of the example
![imagen](https://user-images.githubusercontent.com/24401350/65351429-16873000-dbb6-11e9-8f9d-a35eece5e59f.png)
but the function I set is not setting the content that I want, it stills returning the example
`renderBody={(title) => <View><Text>Hello</Text></View>}`

[2019-09-24 01:14] roziy opened #40 "Support React-Native v0.60.x ?"

[2019-10-16 21:23] Karniej commented on #40
Hello there, thank you for issuing this.
There'll be a support for React-Native v.0.60 + in the near future.

[2019-10-16 21:25] Karniej commented on #39
Hello, have you found a way to fixing it?
If not, please let us now we'll investigate this issue.

[2019-10-31 22:23] GodwinEbikwo opened #41 "Expo support?"
Wonderful job and kudos to the team at Netguru, I was wondering if this can be used in EXPO

[2019-11-15 12:26] sogustavo commented on #40
@roziy, I did a workaround to work on react-native `0.61.4` until the official support come out.

- Add `"react-native-nested-scroll-view": "8.0.0"` on package.json (I don't figure, and didn't look why, but without doing this, some dependency breaks);
- Change `InternalScrollViewType` const in `node_modules\react-native-nested-scroll-view\lib\NestedScrollView.js`  from `react-native/Libraries/Comp

[2020-01-07 17:50] eladgel opened #43 "Question"
Could you guys add an example of how to make this library work with FlatList?

[2020-01-09 18:35] oferRounds commented on #43
+1

[2020-01-28 15:42] sdjhoanborges commented on #40
same problem

[2020-01-29 00:46] amirulasrof commented on #40
+1

[2020-01-30 14:24] harshvitra commented on #40
Same issue

[2020-01-31 02:18] blueromans commented on #40
+1

[2020-02-04 13:07] jonathanmachado commented on #40
+1

[2020-02-05 21:44] sdjhoanborges commented on #40
I didn't understand what you meant, but your fork works. If there's anyone interested please use
`"react-native-sticky-parallax-header": "https://github.com/hgarcialeon/sticky-parallax-header.git"`

[2020-02-08 21:20] masiamj commented on #41
Any updates on this? Thanks!

[2020-02-14 10:32] huyenptt12 opened #45 "How can custom for tab title using component?"
Currently i just can only use text for tab header, but I would replace it by component. How can I do it?

example:
[code]

[2020-02-15 18:59] JogiPrasadPakki opened #46 "Is it work in ios"

[2020-03-10 10:14] davidwico commented on #46
Yes it is

[2020-03-10 10:14] #46 closed

[2020-03-10 10:15] davidwico commented on #40
Solved in https://github.com/netguru/sticky-parallax-header/pull/44
Please install version 0.0.60 and above for react-native v0.60 +

[2020-03-10 10:15] #40 closed

[2020-03-10 11:38] davidwico commented on #45
This should work just fine, title should be string and content should be a React component
[code]

[2020-03-10 11:39] davidwico commented on #43
What do you mean by working with FlatList? Please provide some code for better understanding

[2020-03-10 11:44] davidwico commented on #45
It's not possible right now, title can be only a string

[2020-03-10 11:44] #45 closed

[2020-03-13 12:13] wong2 opened #50 "Support lazy tab content rendering?"
only render when the tab is active

[2020-03-13 12:22] Patys commented on #41
Hey, from version 0.60 it should work with expo as there is no native modules 👍

[2020-03-13 12:22] #41 closed

[2020-03-15 16:40] sayem314 opened #52 "[TypeError: Cannot read property 'backgroundColor' of undefined]"
Error occured when tried to use custom header even with backgroundColor set to #000

[2020-03-16 12:51] sayem314 commented on #50
+1

[2020-03-16 12:54] sayem314 opened #53 "Hide sticky header"
How do I hide sticky header when the content position on top? I want to only display sticky header when user is scrolled a bit since there is image on the foreground and it doesn't look good with that.

[2020-03-21 23:54] lesmo commented on #52
I figured it out. Your `header` component **must directly include a `style` prop with `backgroundColor`** or it will break:

[code]

As you can see, even using `backgroundColor: 'transparent'` does the trick.

[2020-03-22 06:53] sayem314 commented on #52
@lesmo  Weird! Thanks for finding out the issue :) @netgurusupporter can you please solve this or document this better?

[2020-03-27 17:55] partitect opened #54 "Use Hooks"
Hi,
Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-async-component-lifecycle-hooks for details.

[2020-03-27 17:57] partitect opened #55 "Change logo and avatar images"
Can i change netguru logo and avatar images. i didnt find on component props

[2020-03-29 03:10] davitykale opened #56 "Possible to use this library without the font dependency?"
I would love to be able to use this library without needing to include the fonts (or at least being able to override with my own).

[2020-03-30 13:38] dhruvdewangupta opened #57 "Long title pushes avatar over left icon"
![](https://dl3.pushbulletusercontent.com/wVLDsl2f5Zr9PDt6uqEMoXHYOcQ3vD3y/Screenshot_20200330-190300.png)

[2020-04-02 19:26] sayem314 opened #61 "React Native v0.62 requires useNativeDriver to be explicitly declared"
Animated: `useNativeDriver` was not specified. This is a required option and must be explicitly set to `true` or `false`

[2020-04-02 19:26] sayem314 commented on #54
+1

[2020-04-06 10:23] fend25 commented on #56
yes, it is a really necessary thing due to there is only one font across the whole app in the design

[2020-04-07 07:56] sairam-405 opened #62 "Hi @team"

[2020-04-07 08:00] sairam-405 opened #63 "Tab container content issue."
Hi @team
Its getting issue that when i have content in tab 1 and tab 4. When i goes to tab 1 its perfect and when i goes to tab 4 there is huge content so its scrolling proper when i comes back to tab 1 its getting issue that it takes tab4 content height but it should take tab1 content height.

How to resolve it?

[2020-04-10 22:12] mdzyaan commented on #56
How can i disable this font??

[2020-04-12 15:25] branislaav commented on #39
I have the same problem with a tabbed header, whatever I pass into renderBody prop header will not change.

[2020-04-14 07:05] Patys commented on #56
Hey,
Font is removed, you can customize it on your own 👍

[2020-04-14 07:05] #56 closed

[2020-04-14 07:05] #52 closed

[2020-04-14 07:06] #54 closed

[2020-04-14 07:06] #62 closed

[2020-04-17 09:48] burhanahmed92 opened #71 "Flat list in Tab"
I am using flatlist in tabs and passing the array as
[code]
and RenderContent Method as:

[code]

[2020-04-18 18:03] branislaav opened #74 "Tabs container initial padding"
I found issue that tab container has some initial padding from sides that can't be removed (when I add tabsWrapperStyle prop with 0 margin a padding nothing changes).
<img width="393" alt="Screenshot 2020-04-18 at 19 55 29" src="https://user-images.githubusercontent.com/10597602/79645427-8f338680-81af-11ea-9a86-df40173d4f22.png">

[2020-04-22 12:23] #61 closed

[2020-04-22 12:24] #57 closed

[2020-04-22 12:24] #55 closed

[2020-04-23 09:44] partitect opened #78 "All headerType in Tabbar"
can be possible tabbar in all headerType?
I want use to tabbar in AvatarHeader

[2020-04-23 09:48] partitect opened #79 "title wrapper view height / padding"
can be set possible padding / height in title wrapper like this
![indir](https://user-images.githubusercontent.com/6050956/80085310-b6e46f00-8560-11ea-999c-2987ff464171.jpeg)

[2020-04-23 09:52] partitect opened #80 "quizcards and popular quiz cards"
cards are so beatiful
can be use possible quizcard with props and custom data?

[2020-04-23 10:09] partitect opened #81 "change avatar image in tabbed header"
How to change avatar image on tabbed header?
![indir (1)](https://user-images.githubusercontent.com/6050956/80087316-9964d480-8563-11ea-90ef-40625f6607b2.jpeg)

[2020-05-08 06:44] IdaszakDaniel commented on #81
You can upgrade to the 0.2.0 version of the library and use foregroundImage prop to pass an image.
Check detailed doc with TabbedHeader customisation:
[Custom header foreground](https://github.com/netguru/sticky-parallax-header/blob/master/docs/TABBEDHEADER.MD#custom-header-foreground)

[2020-05-08 06:44] #81 closed

[2020-05-08 06:48] IdaszakDaniel commented on #80
Quiz cards are only a part of the placeholder for the example, but you can take look at the [Quiz component in example directory](https://github.com/netguru/sticky-parallax-header/tree/master/example/src/components/QuizCard) and implement It on your own.

[2020-05-08 06:48] #80 closed

[2020-05-08 06:52] IdaszakDaniel commented on #78
Tabbar is only available in TabbedHeader and when creating custom header. Take look at [TabbedHeader customisation](https://github.com/netguru/sticky-parallax-header/blob/master/docs/TABBEDHEADER.MD) or [Custom header example](https://github.com/netguru/sticky-parallax-header/blob/master/docs/CUSTOM.md)

[2020-05-08 06:52] #78 closed

[2020-05-08 06:59] IdaszakDaniel commented on #74
Upgrade to the 0.2.0 version of the library and use tabsContainerStyle to change paddings. You can find detailed info about Tabs customisation there: [Custom tab styling](https://github.com/netguru/sticky-parallax-header/blob/master/docs/TABBEDHEADER.MD#custom-tab-styling)

[2020-05-08 06:59] #74 closed

[2020-05-09 12:04] EricWiener opened #83 "Unable to install"
Thanks for making your work available.

I attempted to install through yarn and I'm getting the error:
[code]

I checked the node_modules folder for react-native-sticky-parallax-header and it seems like the`assets` folder isn't there (although I see it is on the GitHub repo). I get this error when I try to do:

[code]

[2020-05-09 15:23] mkalayci35 opened #84 "typescript react native problem"
Unable to resolve module `../../assets/data/cards` from `node_modules/react-native-sticky-parallax-header/src/predefinedComponents/AvatarHeader/AvatarHeader.js`:

None of these files exist:
  * node_modules/react-native-sticky-parallax-header/src/assets/data/cards(.native|.ios.js|.native.js|.js|.ios.json|.native.json|.json|.ios.ts|.native.ts|.ts|.ios.tsx|.native.tsx|.tsx)
  * node_modules/react-na

[2020-05-09 15:35] mkalayci35 commented on #83
+1

[2020-05-11 08:43] stephanoparaskeva commented on #83
Did anyone find a solution for this?

[2020-05-11 08:48] stephanoparaskeva opened #86 "Installing crashes app, requiring uninstall and rebuild"
<img width="396" alt="Screenshot 2020-05-11 at 09 45 41" src="https://user-images.githubusercontent.com/40718272/81542456-942dc500-936c-11ea-97ec-6cd16d8f3854.png">

RN Ver 0.62

[2020-05-11 10:54] #86 closed

[2020-05-11 10:55] IdaszakDaniel commented on #84
Fixed in [version 0.2.1](https://github.com/netguru/sticky-parallax-header/releases/tag/v0.2.1)

[2020-05-11 10:55] #84 closed

[2020-05-11 10:55] IdaszakDaniel commented on #83
Fixed in [version 0.2.1](https://github.com/netguru/sticky-parallax-header/releases/tag/v0.2.1)

[2020-05-11 10:55] #83 closed

[2020-05-11 10:56] stephanoparaskeva opened #89 "Way to replace 'bounces' with refreshControl?"
Adding something like
[code]

Will allow you to drag down for a refresh wheel, this is for refreshing content and is a must for situations where users want to update their content. Perhaps this can be added if the user wants the native scrollView bounce effect with a refreshControl (instead of 'bounces')

[2020-05-11 11:00] IdaszakDaniel commented on #89
@stephanoparaskeva Would be great if you could create pull request

[2020-05-11 11:02] stephanoparaskeva commented on #89
I'm only running the package after deleting the whole 'predefinedComponents' folder and changing switch in index.js to just return default. So I cannot make any PR's as my version is completely incompatible. Without these changes; I'm afraid that the package does not run for me

[2020-05-11 14:51] IdaszakDaniel commented on #89
@stephanoparaskeva release 0.2.1 should fix recent issue with assets directory missing. Try using this version and in case of another problems - create issue with detailed information about your app.

I'm leaving this issue opened as we still want refeshControl to be implemented.

[2020-05-12 01:22] stephanoparaskeva commented on #89
Can you point me to the parts of the code:
- That you can add refresh control
- That you can change deceleration rate of scroll
- That you can allow native scrollView bounce

[2020-05-12 01:49] stephanoparaskeva opened #90 "Change Tab Same Scroll Distance - Issue"
When you change to next tab, the other tab is scrolled to the same amount as previous tab. This is not the desired effect because this design has little use case. There isnt a time when you scroll halfway down, and then want to be in same position on next tab. You change tab, it should go to top. Look at how instagram does this for example. On a user profile.

![ezgif com-crop](https://user-images

[2020-05-12 03:26] bpmct opened #91 "scrollNode.scrollTo is not a function"
I did some searches and it looks like this is specifically an Android issue that comes up. However, I'm not familiar enough with React Native to fix this...

![7Tr1qpRvMI](https://user-images.githubusercontent.com/22407953/81635219-907a5c80-93c5-11ea-83f0-254531240d30.gif)

[code]

[2020-05-12 03:47] stephanoparaskeva opened #92 "Tab height is size of largest tab Large Whitespace - Bug"
This is related to the previous issue. As all scrolls have same ref and are dependent on eachother, it means if you have multiple tabs with different size content, the content of the large tab is the size of the container leaving massive amounts of whitespace
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/40718272/81636377-9e52d080-940b-11ea-83d8-5595efd3bfc4.gif)

[2020-05-12 10:20] IdaszakDaniel commented on #92
Duplicate of #63

[2020-05-12 10:20] #92 closed

[2020-05-12 10:27] IdaszakDaniel commented on #89
@stephanoparaskeva https://github.com/netguru/sticky-parallax-header/blob/master/src/StickyParallaxHeader.js#L316
this is the main ScrollView used by all of the predefined components such as Tabbed Header

[2020-05-13 05:35] qoquma commented on #91
I have same problem

[2020-05-14 10:13] IdaszakDaniel commented on #91
@bpmct @qoquma What version of React Native are you using?

[2020-05-14 12:47] theisgroenbech commented on #91
I have the same issue running: Expo 37.0.3 (which uses React Native 0.61 internally)

[2020-05-14 15:08] qoquma commented on #91
"version": "0.61.5"

[2020-05-14 18:40] SrAnthony commented on #91
Using `scrollNode.getNode().scrollTo` seems to work

[2020-05-15 04:54] IdaszakDaniel commented on #91
`.getNode()` was removed in 0.2.0 version of the library, as in [ 0.62 version of React Native it's deprecated](https://reactnative.dev/blog/2020/03/26/version-0.62). If you can't upgrade to 0.62, use 0.1.0 version or use [patch-package](https://www.npmjs.com/package/patch-package) to revert [this commit](https://github.com/netguru/sticky-parallax-header/commit/ee5d224dc54055ca1948d4d4307593c500ee

[2020-05-15 05:09] IdaszakDaniel commented on #79
In 0.2.1 version of the library you can use `parallaxHeight` prop to change height of the whole header foreground. Additionally you can pass custom component to the `foreground` prop.

[2020-05-15 05:09] #79 closed

[2020-05-15 05:16] IdaszakDaniel commented on #39
In 0.2.1 version of the library we added new props to the Tabbed Header. Take a look at the [Tabbed Header Customisation doc](https://github.com/netguru/sticky-parallax-header/blob/master/docs/TABBEDHEADER.MD).
Now you can pass your content to `tabs`, pass custom header to the `header` prop and modify foreground.

[2020-05-15 05:16] #39 closed

[2020-05-16 05:57] bpmct commented on #91
Worked great. Expo does not naturally support 0.62 but I was able to apply the patch :)

[2020-05-16 06:19] mkalayci35 opened #94 "SimsScreen Android header problem"
<img width="363" alt="Screen Shot 2020-05-16 at 09 17 44" src="https://user-images.githubusercontent.com/38668796/82112524-4216e600-9756-11ea-8510-b48c0e7793b0.png">

 <Stack.Screen
        name="SimsScreen"
        component={SimsScreen}
        options={{headerShown: false}}
      />

[2020-05-19 11:01] mkalayci35 opened #95 "@types/react-native-sticky-parallax-header"
Try `npm install @types/react-native-sticky-parallax-header` if it exists or add a new declaration (.d.ts) file containing `declare module 'react-native-sticky-parallax-header'

Can you do something for that ?

Thank you, good work

[2020-05-22 15:11] ChrisCruze commented on #91
I upgraded React Native to 0.62, but then my app load at all, so I had to downgrade React Native to 0.615 and I get the below error from the app
<img width="374" alt="Screenshot 2020-05-22 11 10 44" src="https://user-images.githubusercontent.com/34425825/82682196-e4364280-9c1c-11ea-99ab-32888a296291.png">

See below for current configuration:
   "react": "~16.9.0",
    "react-dom": "~16.9.0",

[2020-05-24 23:15] PaulHaze commented on #91
Hi, I am also getting this error.
![Screen Shot 2020-05-25 at 9 13 19 am](https://user-images.githubusercontent.com/20569604/82767089-1ab3cd80-9e68-11ea-9d9d-d6be826ebe72.png)

Where exactly do I place the `scrollNode.getNode().scrollTo` code? do I replace `_this.scrollView.scrollTo` with `_this.scrollView.scrollNode.getNode().scrollTo`? or replace the whole thing with `.scrollNode.getNode().scrol

[2020-05-27 03:00] emroot commented on #71
Have you tried passing extraData to your flat list to force a re-render?

[2020-05-27 10:43] acorpeugen opened #96 "Tabbed Header vertical scrolling?"

[2020-06-03 00:55] akug17 commented on #91
@PaulHaze This seems to be working fine

[2020-06-03 06:22] IdaszakDaniel commented on #94
Hi @mkalayci35 This is the example screen for the purpose of the [article about this library](https://www.netguru.com/codestories/implement-an-app-store-header-in-react-native-with-sticky-parallax-library).

It's simplified example and solution for your issue is in the article:
`In this example “View” with “headerWrapper” is positioned absolutely with a “top” value of 55, which is implemented for

[2020-06-03 06:22] #94 closed

[2020-06-03 06:23] #96 closed

[2020-06-03 06:30] IdaszakDaniel commented on #53
hi @sayem314. Avatar Header has transparentHeader prop now. Take a look at similar implementation in [this article](https://www.netguru.com/codestories/implement-an-app-store-header-in-react-native-with-sticky-parallax-library)

[2020-06-03 06:30] #53 closed

[2020-06-03 06:31] #91 closed

[2020-06-03 15:47] bittu1028 commented on #91
Running your example for tabbed header has same error ? this issue should not be closed i am using react native v 0.6.6

[2020-06-04 08:22] branislaav opened #97 "transparentHeader prop not working well with tabs"
transparentHeader prop in combination with tabs will overlay tab bar when srolled.

[2020-06-08 07:53] partitect commented on #91
I m using expo sdk 37 and
 "react-native": "https://github.com/expo/react-native/archive/sdk-37.0.0.tar.gz"
if i upgrade manually rn 0.62, app crashed.
when i use v 0.1.0 dont change details header content.
how do i use v0.2.0 in expo sdk 37

[2020-06-10 06:25] zhangSanEr commented on #90
I also encountered the same problem, when my tab1 is a webviwe because its height is too high, causing me to switch to tba2: the position changes / the content height of tba2 is too long

[2020-06-11 15:06] Crael94 commented on #91
Having the same issue... Does someone have a fix?

[2020-06-11 20:16] Kleinhummel commented on #91
Yes, but can someone of the contributors of this package include this and provide a new version of the package? I don't think it is recommended that everyone using this package has to fix this on his own...

[2020-06-11 20:32] Kleinhummel opened #99 "Is there a way to use an icon instead of text for the tabs?"
It would be great to have the possibility to use icons/a custom component instead of text on the tabs for the `headerType="TabbedHeader"`.

[2020-06-13 15:59] Kleinhummel commented on #91
I created a pull request that did exactly that: #100

[2020-06-15 09:31] partitect opened #102 "scrollNode.scrollTo is not a function"
I am waiting for this problem to be solved in fixed to use this plugin

[2020-06-16 11:40] Kleinhummel opened #103 "Is there a relative easy way to combine AvatarHeader and TabbedHeader?"
I would like to have the AvatarHeader as the header but with the tabs at the bottom...I already started exploring the source code but I am a little overwhelmed of all the components and the interaction between them. A quick explanation of how to get what I want would be awesome!

[2020-06-18 10:12] burhanahmed92 opened #104 "Reset to first tab"
How can I reset my sticky tabbed header to the initial position? I mean selecting the first tab by default. Usually, this issue occurs when I select tab number 3 or 4 and go to another screen and then come back. it still selects those tabs. I want to know is there a way to call a method that selects the first tab by default onFocus. I set up the focus method but I am unable to find any property in

[2020-06-24 04:37] bro-jo commented on #102
me too

[2020-06-24 04:37] bro-jo commented on #102
Seems to be related to https://github.com/facebook/react-native/issues/19235

[2020-06-24 04:46] bro-jo commented on #102
https://github.com/netguru/sticky-parallax-header/pull/105
I think this will solve the problem.

[2020-06-29 12:22] partitect opened #107 "AvatarHeader image uri"
when i use image uri on AvatarHeader

Warning: Failed prop type: Invalid prop `image` of type `object` supplied to `AvatarHeader`, expected `number`.

[2020-06-29 13:09] pwysowski commented on #102
Issue was fixed in #106

[2020-06-29 13:09] #102 closed

[2020-06-30 08:34] pwysowski commented on #107
Issue fixed in PR #108

[2020-06-30 08:34] #107 closed

[2020-06-30 16:07] reverdin opened #110 "Full background Image with transparent header and tabs"
Hello,

First of all thanks for the work and this very powerfull library.

I am triying to have a transparent Header with tabs which seems to be problematic. I do not know if it is not possible or if I ttok the wrong direction.

I did a custom foreground with a ImageBackground and added the transparentHeader prop to the StickyParallaxHeader (screenshot 1). The starting point is as I want.

Then sc

[2020-07-01 10:44] pwysowski commented on #91
Issue was fixed in PR #106

[2020-07-06 06:34] burhanahmed92 commented on #71
Yes i did but same issue. I am using react hooks

[2020-07-06 06:37] burhanahmed92 opened #113 "Flatlist not scrollable in iOS"
I am using tabbed header and in my all tabs i am using flatlist. Flatlist is working fine in Android and i am able to scroll to bottom of each tab but in iOS its not scrolling. Whenever i scroll, it automatically move to initial postion.  Here is my code

[code]

I think it something to do with scrollEvent. I am using Flatlist in all my tabs content

[2020-07-10 08:01] StephenBanz commented on #63
I tried setting the height of each tab using contentContainerStyle to the AnimatedScrolView, but contents inside overlap on each other. Tried solutions given here but it didn't help. will just leave the link here.
[Setting flex:1 on a ScrollView contentContainerStyle causes overlapping of components #4099](https://github.com/facebook/react-native/issues/4099)
do let me know if someone comes across

[2020-07-17 08:15] burhanahmed92 commented on #113
still no feedback?

[2020-07-17 10:35] waheedakhtar694 commented on #90
I was also facing this problem without this lib and to fix this I wanted to switch on this lib but almost the same implementation and the problem is also in this lib and reason of this problem is `ScrollView` at the root, `ScrollView` keep getting the height of longest tab there should be some mechanism to update the `ScrollView` height at the root level component.

[2020-07-27 11:08] HeinXtet commented on #113
same problem

[2020-07-27 13:09] HeinXtet commented on #113
temporary fix with use nestedScrollEnabled at Flatlist

[2020-07-31 10:25] pwysowski commented on #104
Feature added in #111

[2020-07-31 10:25] #104 closed

[2020-08-03 11:40] pwysowski commented on #97
Hi @branislaav, could you provide more info about the problem - some screenshots or reproduction steps would be very helpful. 🙂

[2020-08-04 05:32] pwysowski commented on #50
We will address this feature as soon as possible. It's really good idea to optimize the library! 🙂

[2020-08-04 06:54] pwysowski commented on #99
Thank you for the idea. We will add this feature as soon as possible! 🙂

[2020-08-04 09:31] pragneshpj commented on #90
@waheedakhtar694 have you found any solution about height issue?

[2020-08-04 16:59] KamranKhan-Dev opened #116 "renderBody property doesn't work"
Hello,

I'm aware of issue #39 , however, I don't feel that a solution was provided.

Regardless of what you pass into the `renderBody` property, the default "Mornin' Mark! Ready for a quiz?" component is displayed.

I appreciate that this can be overwritten using the backgroundImage and foregroundImage as per the Yoda example, but it doesn't show how you can render your own component instead.

[2020-08-07 13:39] pi0trpietruszewski commented on #63
Fixed in #118

[2020-08-07 13:41] pi0trpietruszewski commented on #63
Fixed in #118

[2020-08-07 13:41] #63 closed

[2020-08-10 13:15] branislaav commented on #97
Hi, @pwysowski, I have foreground with image and additional info,
but also need header to be transparent on top of image and when scolled to tabs it will interpolate its backgound to white and tabs will stick under header.
But right now when I use transparentHeader prop with custom header with tabs, header will overlay tabs when scrolled.
Is there a way to achieve this effect ?

![Simulator Screen

[2020-08-10 13:42] AakashPat commented on #116
I am also trying to figure out this exact same thing.

When you set headerType as `headerType="AvatarHeader"` we can pass a custom component using the foreground property in order to customize the content of the section. But when we set the headerType as `headerType="TabbedHeader"`, we are unable to pass a custom component, and thus we are stuck with the default layout in which we can only change

[2020-08-10 13:43] AakashPat commented on #39
The document you have linked to allows the user to only change the image and the title. We are looking for a way to pass an entire component.

[2020-08-10 13:45] AakashPat commented on #103
I am looking to do the exact same thing that you have mentioned. Still have been unable to get my head around.

[2020-08-10 13:56] AakashPat commented on #116
Please check this link: https://github.com/netguru/sticky-parallax-header/blob/HEAD/docs/CUSTOM.md

I have managed to create a custom header using the code as example on the above link.

[2020-08-10 13:56] AakashPat commented on #39
Please check this link: https://github.com/netguru/sticky-parallax-header/blob/HEAD/docs/CUSTOM.md

I have managed to create a custom header using the code as example on the above link.

[2020-08-10 15:17] AakashPat opened #120 "Example usage with Function Component"
I am currently struggling to get the header to work within a Function Component. The same piece of code works with a class component, but not as a function component. Any help is appreciated.

[2020-08-11 09:15] branislaav commented on #97
I managed to solve it with snapValue prop

[2020-08-11 09:15] #97 closed

[2020-08-12 06:16] crzycoder opened #121 "horizontal Scroll not working in renderBody"
I'm using `AvatarHeader` and inside the renderBody using `FlatList` horizontal but it's not working.

[2020-08-12 06:20] IdaszakDaniel commented on #120
@AakashPat take a look at [additional examples](https://github.com/netguru/sticky-parallax-header/tree/master/example/src/screens/additionalExamples) directory, you can find function components there.

[2020-08-13 18:43] #120 closed

[2020-08-13 18:43] AakashPat commented on #120
Thanks!

[2020-08-13 18:46] AakashPat opened #122 "TabbedHeader Tab Content Body should be different height for every Tab Content."
Currently, when we pass different content to tabs for the TabbedHeader, the container for the Tab Content/Body is of the same size (Largest one) across all tabs. Also, the Scroll value from others tabs get reflected in other tabs since the plugin utilizes the same ScrollView component to show all tab content.

[2020-08-18 13:13] Patys commented on #113
Please check out this:
https://github.com/netguru/sticky-parallax-header/blob/master/docs/CUSTOM.md#Tips

[2020-08-18 13:14] #113 closed

[2020-08-18 13:15] Patys commented on #95
Please check out: https://github.com/netguru/sticky-parallax-header/blob/master/src/index.d.ts

[2020-08-18 13:15] #95 closed

[2020-08-18 13:18] Patys commented on #90
Please check newest release: https://github.com/netguru/sticky-parallax-header/releases

[2020-08-18 13:18] #90 closed

[2020-08-18 13:18] Patys commented on #122
Please check newest release: https://github.com/netguru/sticky-parallax-header/releases

[2020-08-18 13:18] #122 closed

[2020-08-18 14:51] waheedakhtar694 commented on #90
@Patys  Yeah, I have created this expo snack and that issue is fixed.

https://snack.expo.io/@waheed25/stickytabsexample

But on every tab change, it resets the tab which is fine but data re-rendering takes a jerk to display the data inside the tab, data gets hidden for a moment and then display which is a bad UX.

[2020-08-19 04:12] pragneshpj commented on #90
@Patys Its working, Thank you

[2020-08-26 14:46] PradeepLinkites opened #124 "How can we prevent the tab scrolling"

[2020-08-29 14:11] sorxrob commented on #39
Why close? The link you provided is to modifying the header nav and not the related to `renderBody`.

[2020-08-29 14:12] sorxrob commented on #116
Not really related to the `renderBody` prop.

[2020-08-30 09:06] Kleinhummel commented on #122
I still have the issue that the ScrollView is longer than the TabContent. See this picture: The Red component is my tab content and I want to be only able to scroll to the end of this component:

![Sticky-Parallax-Header content height](https://user-images.githubusercontent.com/47432229/91655433-bfb9f400-eab0-11ea-9fbd-1ee6eeaf77ef.PNG)

[2020-08-31 16:09] someAndroidDeveloper opened #125 "Changing Statusbar style."
Hi, i tried to use DetailsHeader but I need to set my own statusbar. is there a way to prevent the component from overriding it?

[2020-09-01 16:51] jamesdss opened #126 "scrollView reference"
Hello!
I'm trying to make an UI where pressing a button would make the whole view scroll to top.
How can I get the reference to the scrollview?

[2020-09-03 13:17] hakanpinar commented on #124
Same issue here! :(

[2020-09-03 16:18] Kleinhummel opened #128 "Is there an onDisplayedTabChanged event on TabbedHeader?"
An event would be cool, that is called every time the displayed tab is changed. It could be named `onTabChanged` and the argument for the handler function could be the index of the tab that is currently displayed.

[2020-09-03 17:33] Kleinhummel opened #129 "Set keyboardShouldPersistTabs to 'handled'"
I have a TextInput in my tab content, but I can't press a button in the tab content when the keyboard is open. I found out that usually setting the keyboardShouldPersistTabs property of the ScrollView surrounding the button and the TextInput to 'handled' fixes the problem. Is it possible that the same problem is present here? I tried to set the keyboardShouldPersistTabs prop to 'handled'on the Ani

[2020-09-09 12:46] DimitrisTzimikas commented on #128
@Kleinhummel  Check that
`<StickyParallaxHeader
          onChangeTab={(i) => {
            console.log(i);
          }}......`

[2020-09-10 08:26] amsiddh opened #131 "[Help] How to fix 'Require cycles' warnings"
First really thanks for this wonderful library.

I have followed custom header doc (i.e https://github.com/netguru/sticky-parallax-header/blob/master/docs/CUSTOM.md) and below my StickyParallaxHeader code.
[code]
Everything works proper as expected, but getting below warnings. Please help in removing this warnings.

[2020-09-10 08:58] DimitrisTzimikas commented on #89
In StickyParallaxHeader.js add:
[code]

Does this approach expose the onRefresh to the user?

[2020-09-11 10:10] kentplaza commented on #121
Same problem,  only can scroll vertically

[2020-09-21 12:35] pi0trpietruszewski commented on #126
Working on it.
Feature will be available in next release

[2020-09-21 13:45] pi0trpietruszewski commented on #129
Added _keyboardShouldPersistTabs_ prop, avaiable in next release.

@Kleinhummel Could you explain in details what is wrong?
Or can you upload video with issue?

[2020-09-22 11:23] Relax594 opened #138 "title is cut off in AvatarHeader"
Fresh installed v0.3.1 with react-native 0.63.2 on Samsung Galaxy Tab S5e. Same experience on Google Pixel C. Working fine on Pixel 3a XL. Looks like an issue with bigger screen resolutions.

Poor Brandon gets his name cut off.

[code]

Looks like this:

**Samsung Galaxy Tab S5e**
![Screenshot_20200922-130841_TimeAttack](https://user-images.githubusercontent.com/22765758/93875169-c9f89800-fcd4-11e

[2020-09-22 15:16] Relax594 commented on #103
a little more customizability in this predefined components would be awesome yeah. Like custom titleStyle, subtitleStyle, custom icons top left and right (not just an image source). Even changing the subtitle to taking a react-element would help a lot actually.

[2020-09-23 12:28] pi0trpietruszewski commented on #43
@eladgel
Please have a look: [How to handle FlatList](https://github.com/netguru/sticky-parallax-header/blob/master/docs/CUSTOM.md#tips)

[2020-09-23 12:28] #43 closed

[2020-09-23 13:45] pi0trpietruszewski commented on #124
@PradeepLinkites @hakanpinar  Could you explain it in details?

[2020-09-24 10:09] pi0trpietruszewski commented on #71
@burhanahmed92  I think, issue occurs because you are using "_item_" parameter from tabs render content function. Try to use flat list data not from renderContent parameter.

[2020-09-24 10:11] burhanahmed92 commented on #71
Can you elaborate a bit with example, will be much appreciated

[2020-09-24 10:27] pi0trpietruszewski commented on #89
#141 Will be available in next release

[2020-09-24 10:30] pi0trpietruszewski commented on #71
@burhanahmed92 Could you show your entire component?

[2020-09-24 10:35] pi0trpietruszewski commented on #103
@Kleinhummel You can always create custom header [Blogpost about custom header](https://www.netguru.com/codestories/implement-an-app-store-header-in-react-native-with-sticky-parallax-library) or [Doc example](https://github.com/netguru/sticky-parallax-header/blob/master/docs/CUSTOM.md)

Also feel free to make a contribution :D

[2020-09-24 10:44] pi0trpietruszewski commented on #128
Yes, use this prop
` onChangeTab: (  from: number;
  i: number;
  ref: any;) => void;`

[2020-09-24 11:21] pi0trpietruszewski commented on #125
@someAndroidDeveloper
To override status bar, place **<StatusBar>** component below **<StickyParallaxHeader>**

`   <>
        <StickyParallaxHeader headerType={'AvatarHeader'} />
        <StatusBar barStyle="dark-content" backgroundColor="red" />
      </>
`

[2020-09-24 11:52] pi0trpietruszewski commented on #116
To render body in `headerType="TabbedHeader"` use **'tabs'** prop.
Example:
[code]

[2020-09-24 12:11] pi0trpietruszewski commented on #110
You can try to use one of this props.
[code]

For description please have a look [TabbedHeaderProps](https://github.com/netguru/sticky-parallax-header#tabbed-header)

[2020-09-24 12:51] #89 closed

[2020-09-24 12:56] #126 closed

[2020-09-24 13:40] #125 closed

[2020-09-24 13:42] pi0trpietruszewski commented on #128
I am closing issue, if it won't help feel free to reopen issue

[2020-09-24 13:42] #128 closed

[2020-09-25 15:14] pi0trpietruszewski commented on #99
Icon rendering will be available in next release

[2020-09-25 15:14] #99 closed

[2020-09-25 15:15] pi0trpietruszewski commented on #138
#144 Fixes this issue

[2020-09-28 02:43] yicru opened #145 "SharedProps are optional but required in type definition"
SharedProps are optional in the documentation, but is required in the type definition.

index.d.ts:39L〜47L
[code]

[2020-09-28 07:07] #138 closed

[2020-09-28 07:22] pi0trpietruszewski opened #146 "DetailsHeader is missing props available in other types of header"
**DetailsHeader is missing props available in other types of header**

* **I'm submitting a ...**
  - [x] bug report

  - [ ] feature request

  - [ ] support request

The **_contentContainerStyle, scrollRef, keyboardShouldPersistTaps, refreshControl_** props are missing in `src/predefinedComponents/DetailsHeader/DetailsHeader.js`,  PropTypes, and `src/index.d.ts`

[2020-09-28 07:47] pi0trpietruszewski opened #147 "AvatarHeader is missing props available in other types of header"
**AvatarHeader is missing props available in other types of header**

* **I'm submitting a ...**
  - [x] bug report

  - [ ] feature request

  - [ ] support request

The **_contentContainerStyle, scrollRef, keyboardShouldPersistTaps, refreshControl_** props are missing in `src/predefinedComponents/DetailsHeader/AvatarHeader.js`,  PropTypes, and `src/index.d.ts`

[2020-09-28 07:48] pi0trpietruszewski opened #148 "TabbedHeader is missing props available in other types of header, missing props in documentation"
**TabbedHeader is missing props available in other types of header**

* **I'm submitting a ...**
  - [x] bug report

  - [ ] feature request

  - [ ] support request

The **_contentContainerStyle, scrollRef, keyboardShouldPersistTaps, refreshControl, rememberTabScrollPosition_** props are missing in `src/predefinedComponents/DetailsHeader/TabbedHeader.js`,  PropTypes, and `src/index.d.ts`

[2020-09-28 07:55] pi0trpietruszewski opened #149 "No children prop in docs, replace renderBody to children in predefinedComponents"
**No children prop in docs, add children prop in predefinedComponents**

* Add children prop in README.md
* Add children prop in `AvatarHeader, DetailsHeader` and types `src/index.d.ts`.

[2020-09-28 09:16] yicru commented on #145
I created a PR. #150
Please confirm it.

[2020-09-28 12:26] #145 closed

[2020-09-28 12:27] pi0trpietruszewski commented on #145
@yicru Thank you for contribution. PR merged.

[2020-09-28 12:32] yicru commented on #145
@pi0trpietruszewski Thank you for your awesome library.

[2020-09-29 09:30] pi0trpietruszewski opened #153 "Create Snapshot tests for StickyParallaxHeader"
Create Snapshot tests for `StickyParallaxHeader.js`

[2020-09-29 09:38] pi0trpietruszewski opened #154 "Create Snapshot tests for AvatarHeader"
Create Snapshot tests for `src/predefinedComponents/AvatarHeader/AvatarHeader.js`

[2020-09-29 09:42] pi0trpietruszewski opened #155 "Create Snapshot tests for DetailsHeader"
Create Snapshot tests for  `src/predefinedComponents/DetailsHeader/DetailsHeader.js`

[2020-09-29 09:43] pi0trpietruszewski opened #156 "Create Snapshot tests for TabbedHeader"
Create Snapshot tests for `src/predefinedComponents/TabbedHeader/TabbedHeader.js`

[2020-09-29 11:56] pi0trpietruszewski opened #157 "Support for FlatList"
**Support for FlatList**

* **I'm submitting a ...**
  - [x] bug report
  - [x] feature request
  - [ ] support request

* **If bug, used module version**

    0.4.0

* **What is the current behavior?**
 -On IOS, `FlatList` sometimes stuck, and user is unable to scroll down.
 -On Android `FlatList` is scrollable without Header moving.

* **If the current behavior is a bug, please provide the steps

[2020-09-30 12:31] aeife opened #158 "Support icon components instead of image source for header icons"
Support icon components instead of image source for header icons

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* **Platform**
  - [x] ios
  - [x] android

* **What is the current behavior?**
TopLeftIcon and TopRightIcon only support image source.

* **If is a feature request, What is the motivation / use case for changing the behavior?**
It would b

[2020-09-30 13:04] bobsany16 commented on #147
Hi, I was looking at this and saw that the `AvatarHeader.js` is in `/AvatarHeader/AvatarHeader.js`. Could you clarify ?

[2020-09-30 15:48] Frondelan commented on #154
- [ ]  Testing

[2020-09-30 17:25] bobsany16 commented on #147
I would love to work on this. I will have a PR up by the end of the week :)

[2020-10-01 01:22] yicru opened #160 "BackgroundImage is re-rendered every time the tab is switched."
**BackgroundImage is re-rendered every time the tab is switched.**

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

* **If bug, used module version**

    4.0.0

* **Platform**
  - [x] ios
  - [ ] android

* **What is the current behavior?**
When I go back to the top and every time I switch tabs, the background image re-renders.

![ezgif-7-b9f4334072c

[2020-10-01 09:52] picknamexd opened #162 "Show header only when scrolling"
This is possible? I am using TabbedHeader and I would like the header to show only when the tabs touch the superopr parts.
I've seen some use the transparentHeadder prop but it doesn't work for me with TabbeddHeader

[2020-10-01 23:33] bobsany16 opened #164 "Wrong PropTypes defined for AvatarHeader and DetailsHeader"
**leftTopIcon and rightTopIcon propTypes are defined as `number` instead of `imageSourcePropType`**

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* **If bug, used module version**

    0.4.0

* **Platform**
  - [x] ios
  - [x] android

* _**leftTopIcon**_ and _**rightTopIcon**_ props for both `AvatarHeader` and `DetailsHeader` are defined as a `num

[2020-10-02 09:02] asimsagirabbasi opened #165 "getting undefined is not an object (evaluating this.scrollY.y)"
**Title**

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] support request

* **If bug, used module version**

    1.0.0

* **Platform**
  - [ ] ios
  - [ ] android

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

* **If is a feature request, What is the m

[2020-10-02 12:05] Patys commented on #165
Please give more details

[2020-10-02 12:14] IdaszakDaniel commented on #162
As far as I know, TransparentHeader is only implemented in Avatar header right now. You can check the [example of that](https://www.netguru.com/codestories/implement-an-app-store-header-in-react-native-with-sticky-parallax-library). I think your case should be possible to implement with the [custom header](https://github.com/netguru/sticky-parallax-header/blob/master/docs/CUSTOM.md).

[2020-10-02 12:55] bobsany16 commented on #164
@Patys do I wait for #147 to merge before working on this ?

[2020-10-07 06:50] #164 closed

[2020-10-08 07:52] picknamexd commented on #162
@IdaszakDaniel
Great! i got what i needed but i have problem, tabs are hiding under header, is there any way to pin tabs under header?

[2020-10-09 03:22] yicru commented on #116
Has this problem been resolved?
The `renderBody` prop doesn't seem to be working in `TabbedHeader`.
I want to customize body in TabbedHeader.
![94142017-e5e37180-fe6d-11ea-9674-c11ed84e567c-2](https://user-images.githubusercontent.com/37892222/95539673-f4af5400-0a29-11eb-9522-d83a4d2edec6.png)

[2020-10-12 12:00] picknamexd commented on #110
@reverdin
Did you manage to fix it? I'm in the same situation

[2020-10-12 12:15] reverdin commented on #110
Unfortunately not

[2020-10-15 06:46] #155 closed

[2020-10-17 15:26] Relax594 opened #169 "Body being rendered under the header"
**Title**

Body going under the header

* **I'm submitting a ...**
  - [ X ] bug report
  - [  ] feature request
  - [  ] support request

* **If bug, used module version**

    0.4.0

* **Platform**
  - [ X ] ios
  - [ X ] android

* **What is the current behavior?**

The body gets rendered under the header once scrolling

* **If the current behavior is a bug, please provide the steps to reproduc

[2020-10-19 09:23] grkemtneri commented on #131
same issue, did you find solution ?

[2020-10-22 13:46] brooksbecton commented on #160
I'd like to grab this one!

[2020-10-23 19:01] anusha5695 commented on #148
Hello @pi0trpietruszewski , I can pick this

[2020-10-23 19:04] anusha5695 commented on #146
Can pick this as well @pi0trpietruszewski

[2020-10-25 04:48] sachithamh opened #172 "Blink backgroundImage"
**Blink backgroundImage**

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* **If bug, used module version**

    4.0.0

* **Platform**
  - [x] ios
  - [ ] android

* **What is the current behavior?**
blink background image when swipe up swipe down and also when changing tabs

![ezgif com-gif-maker](https://user-images.githubusercontent.com/5784803/97

[2020-10-26 16:56] vividh commented on #158
I can work on this. Is it acceptable to overload the current props (`leftTopIcon` / `rightTopIcon`) to accept a React Element, or should it be separate props?

[2020-10-29 13:24] brooksbecton commented on #172
I think I have the tab change blinking fixed here
https://github.com/netguru/sticky-parallax-header/pull/171

[2020-11-02 14:53] Tilenozz commented on #149
When this feature will be avaiable ?

[2020-11-05 10:02] toutouli commented on #121
Same problem，Is there a solution to this problem？

[2020-11-09 07:43] 200610313 commented on #116
I'd like to know how to customize that part as well.  [Documentation](https://github.com/netguru/sticky-parallax-header/blob/HEAD/docs/CUSTOM.md) describes
![image](https://user-images.githubusercontent.com/41291228/98512955-18bcba00-22a2-11eb-9af5-020b001b49a0.png)

but I can't get it to work.

[2020-11-09 08:32] devByGelu opened #173 "Setting custom background component"
Hello, as of now we customize background image with `backgroundImage` property. But is there any way to pass a custom component for background? The [docs](https://github.com/netguru/sticky-parallax-header/blob/master/docs/CUSTOM.md) mention that there exists a `background` property, but It doesn't seem to exist.

Finally, I'd like to say that is an amazing package, thank you all contributors !

[2020-11-12 07:15] raikk opened #174 "Tabbed Bar Header keep on vertical scrolling behind the main Header after refreshing"
I am using below code in renderContent using FlatList for item listing in every tab

[code]

My issue is after doing refresh control Tabbar keep on scrolling with renderContent behind the main Header.
When first render (first screen load) it is fine but issue occurs after refreshing control.

[2020-11-12 17:13] rzinnatullin commented on #169
Same issue here.
Is there anything that should be done to make children of `StickyParallaxHeader` not go under the header?
![image](https://user-images.githubusercontent.com/11244866/98972368-2a1cf500-2534-11eb-981e-47097fa503ce.png)
![image](https://user-images.githubusercontent.com/11244866/98972389-33a65d00-2534-11eb-8594-aec5d4afa8d1.png)
![image](https://user-images.githubusercontent.com/1124

[2020-11-17 10:10] amosbastian opened #175 "Scroll deceleration"
**Scroll deceleration**

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [x] support request

* **Platform**
  - [x] ios
  - [x] android

* **What is the current behavior?**

Currently when scrolling it decelerates too fast for my liking. I want to change this so it decelerates less quickly.

* **What is the motivation / use case for changing the behavior?**

It is differ

[2020-11-19 12:05] phwed commented on #157
I am facing the same issue currently is there a way to resolve this?

[2020-11-19 12:09] phwed commented on #157
never mind i solved it by added scrollEnabled={false} to the flatlist and moving my scroll logic to the Header as suggested

[2020-11-22 20:25] Hantex9 opened #176 "Async fetches blocks UI of the header"
**Async fetches blocks UI interaction with the header**

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [x] support request

* **Platform**
  - [x] ios
  - [x] android

* **I implemented a TabbedHeader with a FlatList inside, each time that the TabbedHeader reaches the end, i will fetch new datas from the server, but each async request (also with other async call to the

[2020-11-24 16:34] kiwina opened #177 "Underlined Tabs"
Hi, i saw that there is some of the code for the underlined tabs ported in the ScrollableTabBar but the values are totally off and it does not work.
That is not much of an issue since tabs cold just be created as a bottom border to the container, but at that stage the useless code could be removed

[2020-11-28 08:27] Hantex9 commented on #176
EDIT:

Problem solved, it was a problem for my optimization

[2020-11-30 23:42] phuongwd commented on #124
@pi0trpietruszewski It seems they want to disable left/right swipe gesture to switch between tabs, I guess
The `scrollEnabled` property in `ScrollableTabView`

[2020-12-01 00:42] phuongwd commented on #103
huhu guys :)

![bottom-tabs](https://user-images.githubusercontent.com/2460806/100682044-bdb14b00-33a7-11eb-91e2-04bf79497d92.gif)

[2020-12-02 20:02] SvenNussgruber commented on #157
@phwed Do you mind sharing how exactly you implemented the scroll logic in the Header? I'm trying to have a top text that disappears, a search bar underneath that stays stickied, and a sectionList underneath that but can't get it working properly.

[2020-12-05 10:45] phwed commented on #157
@SvenNussgruber
You can override the components with animated views as shown here

const CutomHeaderScreen = () => {

  const renderHeader = () => {
    const opacity = scrollY.y.interpolate({
      inputRange: [0, 60, 90],
      outputRange: [0, 0, 1],
      extrapolate: 'clamp',
    })

    return (
      <View
        style={styles.headerCotainer}>
        <View style={styles.headerWrapper}>

[2020-12-08 14:06] maciejBudzinskiNG commented on #173
Hello @200610313. As for now, there is no way to add a custom background (as a component) to the header. Feel free to work on this feature or wait until we develop this feature. It's definitely something that we want to have as well.

[2020-12-08 14:13] maciejBudzinskiNG commented on #175
Hello @amosbastian. The new "decelerationRate" prop is a good idea. As it seems like a small change, we should be able to add this in one of the future releases.

[2020-12-08 14:13] maciejBudzinskiNG commented on #176
@Hantex9 Glad to hear that. I'm closing the issue.

[2020-12-08 14:14] #176 closed

[2020-12-10 02:23] LaurenceSM10 opened #180 "Nested horizontal FlatList is not working"
**Title**

* **I'm submitting a ...**
  - [ ✓] bug report
  - [ ] feature request
  - [ ] support request

* **If bug, used module version**

    "react-native-sticky-parallax-header": "^0.4.0",
    "expo": "~39.0.2"

* **Platform**
  - [ ] ios
  - [ ✓] android

* **What is the current behavior?**
It is not possible to scroll a horizontal FlatList

* **If the current behavior is a bug, please prov

[2020-12-24 14:04] ugrdursun commented on #116
Have you solved the issue ?

[2020-12-26 05:18] dungdt-pnc commented on #128
its doesnt work! Please check again @pi0trpietruszewski

[2020-12-30 12:35] ourfamilygithub commented on #124
any suggestion to disable left/right swipe gesture between tabs?

[2021-01-05 18:26] gulisashvili commented on #53
Hi It's still there even if i am using `transparentHeader` , it only makes `opacity: 0 `but it is still using height of header and i have unnecessory space  ... can u help me with that ?

[2021-01-16 21:29] vendeza opened #184 "Disable horizontal swiping"
Disabling horizontal swiping
Feature request

Hello, I like sticky-parallax-header. It's awesome.
Add disabling of the horizontal swiping effect, please. Because  I don't want to use it without tabs.

I looked at your ScrollableTabView component. I think to need to add boolean param the "horizontal" to StickyPrallaxHeader -> ScrollableTabView.

Thanks.

[2021-01-20 12:35] FatemeMirzaeii commented on #131
same issue

[2021-01-25 07:41] charitha95 opened #185 "Icons in tabs doesn't work."
**Title**

* **I'm submitting a ...**
  - [x] bug report
  - [x] support request

  - [ ] feature request
* **If bug, used module version**

    0.3.1

* **Platform**
  - [ ] ios
  - [x] android

* **What is the current behavior?**
When you pass icons to tabs, icons are not rendering.

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the

[2021-01-25 10:35] charitha95 commented on #185
Tried with the newest version: `0.4.0`, it worked.

[2021-01-25 10:35] #185 closed

[2021-01-25 20:33] jawang94 commented on #184
Also looking for something similar which is to disable horizontal bouncing when on a start or end tab.

[2021-02-01 02:15] charitha95 commented on #120
This gives us a 404. Is it moved to somewhere?

[2021-02-04 09:11] pi0trpietruszewski opened #186 "[BUG]Wrong header position after bounce"
**Title**

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* **If bug, used module version**

    0.4.0

* **Platform**
  - [x] ios
  - [ ] android

* **What is the current behavior?**
* When using bounce on scroll down, animation wont back to default scroll position.

* **If the current behavior is a bug, please provide the steps to reproduce and if

[2021-02-14 07:36] Vn-ChemGio opened #187 "[BUG] headerType=DetailsHeader not update text "Design System" when scrollUp"
**Title**

* **I'm submitting a ...**
  - [ ✓] bug report

* **If bug, used module version**

    0.4.0

* **Platform**
  - [ ] ios
  - [ ] android

When using        <StickyParallaxHeader headerType="DetailsHeader"
                              title={"@@@@@@@@@@@@@@@@"}
                              tag={"clgt"}
/>
After scrollup to top text in header bar not update to tile, it only  is default

[2021-02-18 11:31] ramkgunturu opened #188 "After Navigation"
**Title**

* **I'm submitting a ...**
  - [ ] bug report to android
  - [ ] feature request
  - [ ] support request

* **If bug, used module version**

    1.0.0

* **Platform**
  - [ ] ios
  - [ ] android --yes

* **What is the current behavior?**
* StatusBar is disabled when I move back or tab on other screens I dont know what happened ?
*
when I press back screen or moving to other tabs from st

[2021-02-20 13:31] Noitidart opened #189 "Expo example is broken - user not defined"
https://snack.expo.io/@maciejbudzinsking/sticky-parallax-header-by-netguru

<img width="1574" alt="image" src="https://user-images.githubusercontent.com/6372489/108597230-d09b4200-733c-11eb-8cc6-08369c49b422.png">

[2021-02-20 13:42] Noitidart commented on #189
Never mind, it works on device. Great job guys thank you!

[2021-02-20 13:42] #189 closed

[2021-02-21 17:08] zackmountassir opened #190 "I want to navigate between tabs"
- [ ] support request

* **Platform**
  - [ ] ios
  - [ ] android

I am using Tabbed Header, I want to navigate between tabs programmatically and i want to re render the tab content when i navigate between tabs, i didn't really understand how to achieve this behavior.

[2021-02-22 07:25] jawang94 commented on #190
Yeah I also would like to see tabs holding their own state. Right now, if I have an API update for one particular tab, I don't believe it's possible to simply update that tab alone. I have to re-define the tab functions which basically re-renders the entire parallax header and every tab's contents. Super expensive operation.

[2021-02-28 19:27] IdaszakDaniel commented on #120
@charitha95 additional examples were moved [here](https://github.com/netguru/sticky-parallax-header/tree/master/examples/reactNative/src/screens/additionalExamples)

[2021-03-28 05:42] prox2 opened #192 "Body content no been displayed"
**Body content no been displayed **

* **I'm submitting a support request **

* **Platform**

  - [ ] android

* **What is the current behavior?**
I am trying to render the body content but i got nothing within the body except the default card.
here is the sample code:
[code]

* **Other information** none

[2021-04-01 14:24] Vn-ChemGio commented on #128
you missing {  } in param list
Correct:  onChangeTab: ({ from: number; i: number; ref: any;}) => void;

[2021-04-02 10:31] Vn-ChemGio commented on #184
I have a solution for it:
as @vendeza tell, I have been opened ScrollAbleTabView in my node_modules and remove props '**horizontal**'
Problem will be resolved

[2021-04-20 19:11] Mugilan-Codes commented on #131
Can i solve this ?

[2021-04-24 16:38] HyperNovax opened #197 "Examples not work"
I try to run the example expo or react-native but I have an error.
Unable to resolve module @babel/runtime/helpers/interopRequireDefault from [...] @babel/runtime/helpers/interopRequireDefault could not be found within the project.

I install the package but always the same error. The file exist in node_modules.

[2021-04-27 18:15] benrandja-akram commented on #197
@HyperNovax
you need to install root folder packages first,
[code]

[2021-06-02 09:27] avivku90 opened #210 "is there a way to expand or collapse the header programmably? or default as closed?"
**Title**

* **I'm submitting a ...**
  - [ ] bug report
  - [ ] feature request
  - [ ] support request

* **If bug, used module version**

    1.0.0

* **Platform**
  - [ ] ios
  - [ ] android

* **What is the current behavior?**

* **If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem**

* **If is a feature request, What is the m

[2021-06-11 03:27] hotaryuzaki opened #212 "scroll not responsive"
**scroll not responsive**

* **I'm submitting a ...**
  - [x] bug report
  - [ ] feature request
  - [ ] support request

* **Platform**
  - [ ] ios
  - [x] android

* **What is the current behavior?**
scroll not responsive, looks like animation was lag not smooth

![20210611_100931](https://user-images.githubusercontent.com/17826213/121625798-61d62600-ca9e-11eb-8f73-aee5405495e6.gif)

[code]

* *

[2021-06-11 11:57] mauhammadadnan opened #213 "Customization"

[2021-06-11 13:39] #213 closed

[2021-06-23 19:31] Shreyasc13 opened #216 "TypeError: Cannot read property 'source' of undefined"
New to react-native here, couldn't figure out how to use sticky-parallax-header

Code:
App.js:

import React from 'react'
import StickyParallaxHeader from 'react-native-sticky-parallax-header'

const App= () => (
  <>
    <StickyParallaxHeader headerType="TabbedHeader" />
    {/* <StickyParallaxHeader headerType="AvatarHeader" /> */}
    {/* <StickyParallaxHeader headerType="DetailsHeader" /> */}

[2021-06-24 12:37] shivgarg5676 commented on #216
Facing the same error. Is this specific to the latest version?

[2021-06-25 11:09] davidm03 commented on #110
@reverdin
Were you ever able to find a workaround for this feature? I am currently attempting something similar

[2021-07-05 11:11] raikk opened #217 "Remove bounce effect while scrolling vertically and to make smooth scroll."
I would like to remove the bounce effect (it stuck) while scrolling the screen of the parallax header.

How to make it a smooth scroll?

try to fix this section but not working.
[code]
![ezgif com-gif-maker](https://user-images.githubusercontent.com/12422925/124462771-a4460680-ddaf-11eb-8dd5-fee2eba85cf8.gif)

[2021-07-20 16:34] davidm03 opened #218 "Is it possible to insert a fullscreen image background that covers the header and foreground?"
**Allow fullscreen image backgrounds that cover the header and foreground**

* **I'm submitting a ...**
  - [ ] bug report
  - [x] feature request
  - [ ] support request

* **If bug, used module version**

    1.0.0

* **Platform**
  - [x] ios
  - [ ] android

* **What is the current behavior?**
Image background only covers the foreground area, with the header content remaining a solid color back

[2021-07-30 06:45] nolife08021 commented on #53
@gulisashvili  did you found any solution for that?

[2021-08-28 06:02] abhiburk commented on #53
same here. When I completely remove header prop then there is default netguru logo

[2021-08-28 06:21] abhiburk commented on #53
we can use headerSize and headerHeight props to hide header

[2021-09-08 11:19] IdaszakDaniel commented on #218
Hi @davidm03, take a look at our example of implementing [App Store Header](https://www.netguru.com/blog/implement-an-app-store-header-in-react-native-with-sticky-parallax-library). You need to use "transparentHeader" prop. It makes header initially invisible and then it appears after scrolling.

[2021-09-08 11:19] #218 closed

[2021-09-09 07:43] longhuynhthanh commented on #97
snapValue not work when I use headerType='TabbedHeader'

[2021-09-16 07:50] pi0trpietruszewski commented on #197
Fixed in #236

[2021-09-16 07:50] #197 closed

[2021-09-20 08:17] TomaszRej commented on #187
Pr #241  fixes that issue

[2021-09-20 08:17] #187 closed

[2021-09-20 08:44] TomaszRej commented on #216
Pr #241 fixes that issue.

[2021-09-20 08:44] #216 closed

[2021-09-20 08:55] TomaszRej commented on #192
Pr #241 fixes that issue.

[2021-09-20 08:55] #192 closed

[2021-09-20 09:20] pi0trpietruszewski commented on #116
To customize header content please use `StickyParallaxHeader` without headerType.
TabbedHeader is predefined.

###(Example)[https://github.com/netguru/sticky-parallax-header/blob/master/docs/CUSTOM.md#usage]

[2021-09-20 09:21] pi0trpietruszewski commented on #116
###

[2021-09-20 09:21] #116 closed

[2021-09-20 10:06] #172 closed

[2021-09-20 10:09] #160 closed

[2021-09-20 13:00] pi0trpietruszewski commented on #177
Fix in #244

[2021-09-20 13:02] pi0trpietruszewski commented on #217
Try `bounces={false}`

[2021-09-20 13:07] pi0trpietruszewski commented on #146
Fix in #241

[2021-09-20 13:08] #146 closed

[2021-09-20 13:08] pi0trpietruszewski commented on #147
Fix in #241

[2021-09-20 13:08] #147 closed

[2021-09-20 13:09] pi0trpietruszewski commented on #129
`keyboardShouldPersistTabs` prop is avaiable

[2021-09-20 13:09] #154 closed

[2021-09-20 13:12] pi0trpietruszewski commented on #188
https://reactnavigation.org/docs/status-bar/

[2021-09-20 13:12] #188 closed

[2021-09-20 13:17] pi0trpietruszewski commented on #210
Use scrollRef.
[code]

[2021-09-20 13:17] #210 closed

[2021-09-20 13:19] #103 closed

[2021-09-20 13:22] pi0trpietruszewski commented on #149
fixed in #244

[2021-09-20 13:22] #149 closed

[2021-09-21 00:08] fedenelli commented on #128
This method is failing for me too.

I am trying to check when a user navigates between tabs to update each tab's content, but onChangeTab does not fire.

My props looks like this

[code]

[2021-09-21 00:34] fedenelli commented on #128
After inspecting the package, I can confirm that this is solved in the repo but the fix is not available in the latest npm release.

[2021-09-21 05:56] TouqeerBinArbab commented on #125
thanks

[2021-09-24 09:40] brambang commented on #212
there is solution here, https://github.com/netguru/sticky-parallax-header/pull/182
this fix not merge to master yet.

but i found decelerationRate props is already exist, but why you not put this in readme??
`decelerationRate='normal'` fix this issue.
and i think is best to set 'normal' as default value since 'fast' created an issue

[2021-09-24 09:43] brambang commented on #217
maybe this will fix your scrolling issue https://github.com/netguru/sticky-parallax-header/issues/212

[2021-09-26 19:51] hotaryuzaki commented on #212
Thanks it works

[2021-09-26 19:51] #212 closed

[2021-09-30 12:53] martin-richter-uk commented on #53
I am also searching for a solution.

[2021-09-30 13:13] martin-richter-uk commented on #53
headerHeight={headerHeight}
          transparentHeader={true}
          onMomentumScrollBegin={() => { setHeaderHeight(60) }}
          headerSize={() => {}}
          onEndReached={() => { setHeaderHeight(60) }}
          onTopReached={() => { setHeaderHeight(0) }}

This kind of worked for me.

[2021-10-11 10:25] #177 closed

[2021-10-19 12:01] bastianspirek opened #255 "TabbedHeader Content is visible under transparent Header"
I am using a transparent tabbed header. My page content starts right below the tab section, however when scrolling upwards, the content will be visible under the tab section and only hide under the header foreground. Is there anything I can do?
![image](https://user-images.githubusercontent.com/7038550/137905041-e904880d-9603-4a3d-842d-fc6fb7cceeeb.png)
![image](https://user-images.githubuserconte

[2021-11-08 05:15] jzxchiang1 opened #258 "TypeScript is just wrong..."
Plenty of bugs in `index.d.ts` for 0.4.1. Note, I'm using a custom header.

- `foreground` should be a `ReactElement`, not a component such as `() => ReactElement`
- `decelerationRate` should be optional
- `headerSize` and `scrollEvent` should be required (otherwise, it throws undefined is not a function)

[2021-11-20 05:03] taimourmaavan commented on #90
I am still facing the same problem with latest release

[2021-12-07 07:34] pharti commented on #124
I also have a requirement where I want to disable the left/right swipe. Is any solution to this?

[2021-12-10 02:27] Ouzx opened #261 "Animated Color Props for Custom Header"
How can I use Animated Colors in custom header styling props?
For example:
`tabsContainerStyle={{
          backgroundColor: scrollY.y.interpolate({
      inputRange: [0, 100],
      outputRange: [Colors.transparentBg, Colors.mainBG],
    }),
        }}`

I'm using TabbedHeader btw.

[2021-12-17 16:56] hreso110100 opened #262 "Align tabs to start of container"
Hello I would like to align my tabs in TabbedHeader to the start of the container. Currently it looks like it centered (I only have 2 tabs). I already tried alignItems and alignSelf to flex-start but it is not working. Thanks in advance for help.

[2022-03-02 07:34] SrBrahma opened #270 "hasBorderRadius={false} throws "Error while updating property 'borderBottomRightRadius' ..."
My code:

[code]

Platform: Android

[2022-03-13 15:55] Ravn6472 commented on #121
For anyone who still has this problem, as a workaround solution you can go to:
`node_modules/react-native-sticky-parallax-header/src/StickyParallaxHeader.js`
and turn off scrollEnabled in the <ScrollableTabView> props (line 413) to disable the tabs navigation.

[2022-04-01 09:57] JayantJoseph commented on #128
onChangeTab is not firing for me either. I tried using:
[code]

[2022-05-03 16:45] SPellegrene opened #287 "Add subTitle prop within Details Header."
### Feature request

Currently the `title` prop is being passed through to the footer container, this is limiting the extensibility of the component. Passing a `subTitle` prop, similar to Avatar Header, would make it much easier to write custom text.

`<View style={styles.footerContainer}>
            {image && <Image source={image} style={styles.authorPhoto} resizeMode="contain" />}
            <

[2022-05-03 17:15] virajpsimformsolutions commented on #97
Can share the details? How we can solve that issue?

[2022-05-05 11:32] poojagupta-simformsolutions commented on #180
Any update on this as we are also facing same issue when adding horizontal flatlist inside the body.

[2022-05-09 06:30] virajpsimformsolutions commented on #180
import flatlist from react-native-gesture-handler.
Like:
`import { FlatList } from 'react-native-gesture-handler';`

[2022-05-12 09:16] denissdubinin commented on #169
Still relevant issue
[code]

[2022-06-08 06:07] fencer-yd opened #299 "Can we use flatList instead of scrollview?"
### Feature request

I see that the core of content is still implemented using scrollview. Is it possible to replace scrollview with flatList?

[2022-06-19 17:05] mateusz1913 commented on #50
Lazy tab rendering (with react-freeze) is implemented in v1.0.x

[2022-06-19 17:05] #50 closed

[2022-06-19 17:10] mateusz1913 commented on #129
`keyboardShouldPersistTabs` is available both in legacy 0.4.x and 1.0.x versions

[2022-06-19 17:10] #129 closed

[2022-06-19 17:12] #148 closed

[2022-06-19 17:13] mateusz1913 commented on #157
`FlatList`, `SectionList` & custom scroll components are supported in version 1.0.x

[2022-06-19 17:13] #157 closed

[2022-06-19 17:14] #158 closed

[2022-06-19 17:22] mateusz1913 commented on #175
It's available in both legacy 0.4.x and 1.0.x versions

[2022-06-19 17:22] #175 closed

[2022-06-19 17:31] mateusz1913 commented on #190
@zackmountassir @jawang94, in version 1.0.x, `TabbedHeaderPager` component (new `TabbedHeader`) have `goToPage` method exposed by ref. You can use it to programmatically jump between pages.

To use v1.0.x, install release candidate (we will promote it to stable in following weeks)
[code]

[2022-06-19 17:31] #190 closed

[2022-06-19 17:32] #217 closed

[2022-06-19 17:36] mateusz1913 commented on #255
It can be configured by setting `tabsContainerBackgroundColor` to the same color as header's background color

[2022-06-19 17:36] #255 closed

[2022-06-19 17:48] mateusz1913 commented on #261
@Ouzx with v1.0.x in `TabbedHeaderPager` (new `TabbedHeader`) we are using plain `FlatList`, so it's not possible now, to pass such animated style/value. Also with v1.0.x, we are sticking with react-native-reanimated instead of vanilla Animated API, but we'll work on supporting animated styles

[2022-06-19 17:51] mateusz1913 commented on #270
It's fixed in v0.4.2 and does not occur in v1.0.x

[2022-06-19 17:51] #270 closed

[2022-06-19 17:54] mateusz1913 commented on #299
Hi @fencer-yd , you can check out v1.0.x release candidate which expose `ScrollView`, `FlatList` & `SectionList` header versions (we will promote it to stable in following weeks)

[code]

[2022-06-20 01:02] fencer-yd commented on #299
Thanks a lot for supporting flatList. This solved a higher problem for me.

[2022-06-21 12:55] mateusz1913 commented on #71
Closing due to inactivity

[2022-06-21 12:55] #71 closed

[2022-06-21 13:00] mateusz1913 commented on #121
This bug occurs in legacy v0.4.x version. Check out v1.0.x release candidate, which has `scrollEnabled` prop available

[2022-06-21 13:00] #121 closed

[2022-06-21 13:04] mateusz1913 commented on #124
Check out v1.0.x release candidate version which for `TabbedHeaderPager` (new `TabbedHeader`)  provides `pagerProps` prop where you can pass `scrollEnabled={false}`, which will disable left/right swipe

[code]

[2022-06-21 13:05] #131 closed

[2022-06-21 13:06] #156 closed

[2022-06-21 13:06] #299 closed

[2022-06-21 13:13] mateusz1913 commented on #180
Please provide link to reproducible repo (or Expo snack)

[2022-06-21 13:16] mateusz1913 commented on #174
Closing due to inactivity. If you want the bug to be handled, please provide link to reproducible Github repo or Expo snack. Also you can check new v1.0.x release candidate, which has completely new API

[code]

[2022-06-21 13:20] mateusz1913 commented on #258
Consider checking out new v1.0.x release candidate, with fully rewritten API in TypeScript

[code]

[2022-06-21 13:20] #258 closed

[2022-06-21 13:47] mateusz1913 commented on #169
Library's behavior is correct - content is scrolled and header part is stays at the top (is "sticky")

[2022-06-21 13:47] #169 closed

[2022-06-23 06:43] yadavmurari111 opened #304 "when background image is removed , header is having some predefined height"
### Feature request

when background image  is removed , header is having some predefined height in the view container , how can i get rid of foreground and background image so that i can implement twitter accounts tab like header . please help

[2022-06-23 06:54] yadavmurari111 commented on #304
can i implement twitter like tabbed view and header using this library ?

[2022-07-05 02:30] msl2000 opened #319 "Tabs in StickyHeaderScrollview"
### Feature request

Hi, I am trying to implement tabs in the StickyHeaderScrollview component and found the **renderTabs** prop. The only thing I cannot find is to how to actually implement the tabs themselves in the component. is there any documentation I can find this on? Any help would be appreciated.

[2022-07-06 09:51] mateusz1913 commented on #287
@SPellegrene  Implemented with https://github.com/netguru/sticky-parallax-header/pull/322 & available in `1.0.0-rc.4`

[2022-07-06 09:51] #287 closed

[2022-07-12 07:25] fencer-yd opened #328 "Whether it can support virtual scrolling"
### Feature request

Can the tabHead coexist with the FlatList or can we customize the scrolling of the tabHead or can support the virtual scrolling of the content of the tabHead, this is important to me, can there be a solution?

[2022-07-14 13:37] SectionTN opened #329 "Element type is invalid, check render on "Screen Name"."
### Environment

Library version: latest, i installed today
OS version: Redmi Note 8 - Android 12

### Affected platforms

- [X] Android
- [ ] iOS

### Current behavior

App crashes for nothing, i checked my strings they're not null or undefined

### Expected behavior

to render AvatarHeaderScrollView Components working well

### Reproduction

1. Installed library using yarn (yarn add <libname>)
2

[2022-07-17 13:28] arkadyyy commented on #329
https://stackoverflow.com/questions/60124435/however-this-package-itself-specifies-a-main-module-field-that-could-not-be-r

the accepted answer worked for me

[2022-07-17 13:31] SectionTN commented on #329
thanks for replying, much appreciated
I'll try this and tell you if it works or no

[2022-07-17 13:54] SectionTN commented on #329
@arkadyyy
after adding this to my metro config
[code]
I still get the same error.

[2022-07-17 14:29] arkadyyy commented on #329
try importing the package component like this
import TabbedHeaderPager from 'react-native-sticky-parallax-header';
insted of
import {TabbedHeaderPager} from 'react-native-sticky-parallax-header';

[2022-07-17 15:13] SectionTN commented on #329
hello again @arkadyyy

i did like you said, it renders only the children on AvatarHeaderScrollView

here's my code:

![c2e40649-4542-4a7d-b08c-9e321d5560a2MSGR_PHOTO_FOR_UPLOAD_.jpeg](https://user-images.githubusercontent.com/73752904/179404709-34e9d15e-d202-4e9a-8567-774edad271e3.jpeg)

here's the unexpected behaviour:

![Screenshot_20220717-161125_Moon Meet.png](https://user-images.githubusercon

[2022-07-17 23:35] SectionTN commented on #329
after some time on being testing this library,
I found that the problem is my fault, i've downloaded 0.4.X version which it doesn't have the new API changes, and i was following 1.0.X documentation, @arkadyyy thank you for your response, and I'm going to close this issue.

[2022-07-17 23:35] #329 closed

[2022-07-19 15:30] mateusz1913 commented on #328
Hi @fencer-yd can you elaborate on that topic and possibly provide example of such behavior?

[2022-07-19 15:37] fencer-yd commented on #328
I see that the content of tabHeader only supports ScrollView, but for the needs of long list scrolling or a too large number of  images lists, it seems that tabHeader does not support virtual scrolling, and you need to manually implement virtual scrolling, or implementing FlatList in tabHeader can also solve the problem. Can improve first load performance.

[2022-07-20 07:35] mateusz1913 commented on #328
@fencer-yd take a look at 1.0.0 release candidate which supports `ScrollView`, `FlatList` & `SectionList` components (in your case look for `TabbedHeaderList` & `TabbedHeaderPager`) https://netguru.github.io/sticky-parallax-header/docs/introduction/installation
With 1.0.0 release candidate you will also be able to create your own sticky layout experience https://netguru.github.io/sticky-parallax-h

[2022-08-09 07:28] aqos156 opened #346 "Tried to synchronously call anonymous function from a different thread"
### Environment

Library version: 1.0.0-rc.6
OS version: iPhone 13, iOS 15.5

[code]

### Affected platforms

- [X] Android
- [X] iOS

### Current behavior

When in NX workspace, on iOS the app opens with the given error and on Android app crashes (doesn't even start) and the same error is in logcat. No error is displayed in metro.

![Simulator Screen Shot - iPhone 13 - 2022-08-09 at 09 23 57](htt

[2022-08-09 09:32] aqos156 commented on #346
maybe connected with https://github.com/software-mansion/react-native-reanimated/issues/3049 ?

[2022-08-09 11:33] mateusz1913 commented on #346
@aqos156 can you provide [minimal reproducible repo](https://stackoverflow.com/help/minimal-reproducible-example), so I can clone it, launch it and reproduce the issue?

[2022-08-09 12:00] aqos156 commented on #346
@mateusz1913 https://github.com/aqos156/paralax-demo here is the demo.

To start the app run the following in the root of the project. The app and all setup regarding it is inside `apps/example`. Package version can be changed via the root package.json file. If you want to add another dependency, `yarn add` it and make sure it is present also in the `apps/example/package.json` file.

[code]

[2022-08-09 13:33] mateusz1913 commented on #346
@aqos156

Ok, so I reproduced the issue, however, it seems to be related to `nx workspaces` setup.

On the error screenshot you provided, worklet location is `<root>/node_modules/react-native-reanimated/lib/hook/useAnimatedStyle.js` - this indicates that the `useAnimatedStyle` hook is not correctly "auto-workletized" (reanimated does it [here](https://github.com/software-mansion/react-native-reani

[2022-08-09 13:33] #346 closed

[2022-08-18 18:44] pgrepds commented on #190
@mateusz1913 Could you elaborate on how to use this for `TabbedHeaderPager`?

I have tried to use it as follows:

`
const ref = React.useRef(null);
<TabbedHeaderPager
        ref={ref}
       ....
`
Then, call it via `ref.current.goToPage(2)` which throws an undefined error since `goToPage` is undefined. I have also tried to use the `pagerProps` as follows:

` pagerProps={{
            ref
    }
}

[2022-08-19 08:16] mateusz1913 commented on #190
👋 @pgrepds you can start with `TabbedHeaderPager` [docs](https://netguru.github.io/sticky-parallax-header/docs/headers/tabbed-header-pager)
In case of reference to `goToPage` method, you can modify the existing [example](https://github.com/netguru/sticky-parallax-header/blob/master/example/src/screens/additionalExamples/TabbedHeaderPagerExample.tsx), like so:

[code]

[2022-08-19 11:14] pgrepds commented on #190
@mateusz1913 It works perfectly, thank you!

[2022-08-21 16:03] Digituals commented on #261
Hi!
I have upgraded to v1.0x and now i need to set
`
tabUnderlineColor={color}
`
as an interpolate color and i dont know how to add it correct. Here is my code and my error.
Please give me an example
![Skärmavbild 2022-08-21 kl  17 51 23](https://user-images.githubusercontent.com/89830530/185800053-a432affb-0e66-4546-a1dc-80fc2d7dfc52.png)
![Skärmavbild 2022-08-21 kl  17 52 15](https://user-imag

[2022-08-23 05:54] yadavmurari111 opened #350 "How to render Tabs in StickyHeaderScrollView along with scrollable header."
### Feature request

I am looking at React Native Sticky Parallax Header library  and I'm a bit confused about it.

I want to have a 'Tabbed Header Pager', but with a custom Header, which seems to be not possible through inbuilt options. I tried creating a view on top of the tabs and animating it myself, but still the 4 tabs ( each containing flatlist)  are not performant.

Custom Sticky Header lo

[2022-08-23 10:35] #261 closed

[2022-08-23 11:31] mateusz1913 commented on #261
Hi @Digituals, `react-native-sticky-parallax-header` is supporting animated (with Reanimated v2) color props from version `1.0.0-rc.8`. There's [dedicated docs section](https://netguru.github.io/sticky-parallax-header/docs/guides/animated-color-props) and you can also check how it works in [example repo](https://github.com/netguru/sticky-parallax-header/blob/master/example/src/screens/additionalEx

[2022-08-30 20:54] Dani-Boy92 opened #355 "How to implement TabbedHeaderPager for Flashlist?"
### Feature request

I have the StickyHeaderFlashListExample set up and am wondering how to set up the data for each tab.  I saw some approach for the TabbedHeaderPage but I can't really see how to transfer that to the StickyHeaderFlashList. Or in other words how do assign the render items for the individual tabs? Do i change the data when changing the tabs and scroll to the top?  Where is than th

[2022-09-11 13:35] Vn-ChemGio opened #356 "Show image in Avatar Header ScrollView after header collapse"
### Environment

Library version: 1.0.0-rc.8
For this version
-The first :  After header collapsed, avatar does not show in header as well as example in
![image](https://user-images.githubusercontent.com/25608423/189530266-141e64dd-9891-46eb-ac4e-d48e4a0f4be7.png)

- The second, If we unused props leftTopIcon, header after collapse has a redundant space
![image](https://user-images.githubuserconte

[2022-09-11 17:01] Vn-ChemGio commented on #356
@mateusz1913 I''ve fix this issue, but can''t push update to github
Could you grant permission for me to push  new branch to this repo?

[2022-09-11 17:04] mateusz1913 commented on #356
👋 @Vn-ChemGio you can [create PR from a fork](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork)

[2022-09-13 10:24] #356 closed

[2022-09-28 21:39] mikehuebner commented on #346
I'm still seeing this issue but only with this library and not any other animations I'm doing. Which is very confusing. Using Nx myself inside a monorepo.

[2022-09-29 14:24] denissdubinin opened #359 "Undefined is not an object on any 1.0.0 version"
### Environment

Library version: **1.0.0-rc.9**
OS: iOS 16

### Affected platforms

- [ ] Android
- [X] iOS

### Current behavior

Once update to any 1.0.0 version, component that uses `StickyHeaderScrollView` throws an error.
I've investigated and was unable to find any issues, for me this looks like some compilation error.

**My libraries:**
[code]

**Screenshot:**
![simulator_screenshot_24232F

[2022-09-29 14:33] denissdubinin commented on #359
I've managed to solve this.
1. I forgot to add reanimated to babel plugin list (yet it's mentioned in guide) - `'react-native-reanimated/plugin'`
2. Restart watchman - `watchman watch-del 'PATH_TO_YOUR_PROJECT' ; watchman watch-project 'PATH_TO_YOUR_PROJECT'`
3. Re-run project with `--reset-cache` flag

[2022-09-29 14:33] #359 closed

[2022-10-18 07:56] harika-nammi opened #364 "You likely forgot to export your component from the file it's defined in, or you might have mixed up default and named imports."
### Environment

Library version: 1.0.0-rc.9
OS version: iPhone 13, iOS 12.5.1

### Affected platforms

- [X] Android
- [X] iOS

### Current behavior

Hi, i am using https://www.netguru.com/blog/implement-an-app-store-header-in-react-native-with-sticky-parallax-library for customising the header part. But i am getting an error like `Error: Element type is invalid: expected a string (for built-in c

[2022-10-18 12:37] harika-nammi opened #365 "Customised Foreground header and Parallax Header"
### Feature request

Customised Foreground Header and Parallax Header

[2022-11-07 08:05] LyrranKelmalu commented on #364
Same problem with DetailsHeaderScrollView.

`import { DetailsHeaderScrollView } from 'react-native-sticky-parallax-header'
import {SafeAreaProvider} from "react-native-safe-area-context";
import {Text} from "react-native";
import React from "react";

export const Header = () => {
    return (
        <SafeAreaProvider>
            <DetailsHeaderScrollView>
                <Text>TEST</Text>